<!doctype html>
<html lang="en">

<head>
    <% include metadata %>
</head>

<body>
    <div class="wrapper" id="main-view">
        <% include sidebar %>
        <div class="main-panel">
            <% include header %>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="rose" data-toggle="tooltip" title="Click to edit your profile.">
                                    <i class="material-icons">perm_identity</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title" data-toggle="tooltip" title="Click to edit your profile."><%= langs.profile_edit %> -
                                        <small class="category"><%= langs.profile_comp %></small>
                                    </h4>
                                    <form id="updateProfile" action="#" method="POST">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_company %></label>
                                                    <input name="company" type="text" class="form-control" minlength="3" required value="<%= user.company %>">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_username %></label>
                                                    <input name="username" type="text" class="form-control" minlength="5" required value="<%= user.username %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_email %></label>
                                                    <input name="email" type="email" class="form-control" email="true" required value="<%= user.email %>" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_firstname %></label>
                                                    <input name="firstname" type="text" class="form-control" required value="<%= user.firstname %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_lastname %></label>
                                                    <input name="lastname" type="text" class="form-control" required value="<%= user.lastname %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_roles %></label>
                                                    <input name="roles" type="text" class="form-control" required value="<%= user.roles %>" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_address %></label>
                                                    <input name="address" type="text" class="form-control" required value="<%= user.address %>"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_city %></label>
                                                    <input name="city" type="text" class="form-control" required value="<%= user.city %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_country %></label>
                                                    <input name="country" type="text" class="form-control" required value="<%= user.country %>">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label"><%= langs.profile_poscode %></label>
                                                    <input name="postalcode" type="text" class="form-control" required value="<%= user.postalCode %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label><%= langs.profile_aboutme %></label>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label"><b><%= langs.profile_example %></b>Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                        <textarea class="form-control" name="aboutme" rows="5" minlength="10" required ><%= user.aboutMe %></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-rose pull-right"><%= langs.profile_btn_update %></button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <% if (typeof user.avatarLink == "string") { %>
                                        <a href="#">
                                            <img class="img" src="<%= user.avatarLink %>" />
                                        </a>
                                    <% }else{ %>
                                        <a href="#">
                                            <img class="img" src="static/images/default-avatar-1.png" />
                                        </a>
                                    <% }      %>
                                </div>
                                <div class="card-content">
                                    <!-- show roles of user -->
                                <% if (typeof user.roles == "string") { %>
                                    <h6 class="category text-info"><%= user.roles %></h6>
                                <% }else{ %>
                                    <h6 class="category text-info">CEO / Co-Founder</h6>
                                <% }      %>
                                    <!-- show username of user -->
                                <% if (typeof user.username == "string") { %>
                                    <h4 class="card-title text-danger"><%= user.username %></h4>
                                <% }else{ %>
                                    <h4 class="card-title text-danger">Username</h4>
                                <% }      %>
                                    <!-- show description of user -->
                                <% if (typeof user.aboutMe == "string") { %>
                                    <p class="description"><%= user.aboutMe %></p>
                                <% }else{ %>
                                    <p class="description">
                                        This is only the default description information. Please change this information in the About Me section on the side. Thank you very much.
                                    </p>
                                <% }      %>
                                    
                                    <input id="file-input" type="file" accept=".png, .jpg, .jpeg" class="hidden"></input>
                                    <a id="change-avatar"  class="btn btn-rose btn-round" onclick="document.getElementById('file-input').click()"><%= langs.profile_btn_change_avatar %></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include footer %>
        </div>
    </div>
</body>
<% include scripts %>
<script src="/static/javascripts/profile.js"></script>
</html>